@model ResetPasswordConfirmViewModel

@{
    ViewData["Title"] = "Şifre Yenileme";
}

<div class="col-md-4 mx-auto mt-3 bg-light shadow p-3 rounded">
    <h2>Şifre sıfırlama</h2>
    <hr />
    <form asp-action="ResetPasswordConfirm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PasswordNew" class="control-label"></label>
            <input asp-for="PasswordNew" value="Fk4213341" class="form-control" />
            <span asp-validation-for="PasswordNew" class="text-danger"></span>
        </div>
        <div class="form-group text-right">
            <input type="submit" value="Kaydet" class="btn btn-sm btn-outline-primary" />
        </div>
    </form>
</div>

