@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}


<div class="col-md-4 mx-auto mt-3 bg-light shadow p-3 rounded">
    <h2>Şifremi unuttum</h2>
    <hr />
    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" value="furkan.karatas1414@gmail.com" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group text-right">
            <input type="submit" value="Gönder" class="btn btn-sm btn-outline-primary" />
        </div>
    </form>
</div>
